.menu-item{
    height: 250px;
    background: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.content{
    padding: 0.7rem;
    background: rgba(255, 255, 255, 0.74);
}